body {
	width: 800px;
	margin: 0 auto;
	background-color: #000000;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
body, a {
	color: #CCCCCC;
}
audio {
	display: none;
}
.hide {
	display: none;
}
#game {
	cursor: crosshair;
}